.Skills {
    background-color:#f4c4c4;
}

.Skills p {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 7%;
}

.Skills .List ul {
    color: white;
    list-style-type: none;
    padding: 0;
}

.Skills .List ul  li{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}


.Skills .Container {
    display: flex;
    position: relative;
}

.Skills .Container .List {
    flex-basis: 34%; /*each list will have min width of 33%*/
    background-color: #ec6c44;
    box-shadow: 0 0 9px 1px white;
    margin-bottom: 2px;
    padding:2px;
}

