.AboutMe {
    background-color: black;
    padding-bottom: 5%;
}

.AboutMe .Container {


    display: flex;
}

.AboutMe .Container .Text {
    width: 47%;
    margin-left: 3%;
}

.AboutMe .Container .Text h2 {
    font-weight: 900;
    font-size: 46px;
}

.AboutMe .Container .Photo  {
    display: flex;
    width: 50%;
    justify-content: center;
}

.AboutMe .Container .Photo .Me {
    height: 500px;
    border-radius: 5%;
    padding-right: 5px;
}

svg {
    background: rgb(32,0,36);
    background: linear-gradient(90deg, rgba(32,0,36,1) 47%, rgba(104,9,121,1) 100%, rgba(0,212,255,1) 100%);
  
}