.AboutMe {
    background-color: #74647c;
    padding-bottom: 5%;
    width: 100%;
}

.AboutMe p, h2 {
    color: #f4c4c4;
}

.AboutMe .Container {
    display: flex;
    margin: 6%;
}

.AboutMe .Container .Text {
    /* width: 47%; */
    margin-left: 3%;
    padding: 5%;
}

.AboutMe .Container .Text h2 {
    font-weight: 900;
    font-size: 1.4rem;
}

.AboutMe .Container .Text p {
    font-size: .9rem;
    width: 100%;
}

.AboutMe .Container .Photo  {
    display: flex;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
}

.AboutMe .Container .Photo .Me {
    width: 90%;
    max-width: 300px;
    max-height: 400px;
    border-radius: 5%;
    padding-right: 5px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    .AboutMe .Container {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .AboutMe .Container .Text {
       width: 60%;
    }

    .AboutMe .Container .Photo{
        width: 70%;
    }
}