@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.Home {
    display: flex; 
    background-color:#f4c4c4;
    min-height: 80vh;
    width: 100%;
    padding-left: 50px; 
    position: relative;
    text-align: left;
}


.Home .Container {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 0;
    vertical-align:0vw;
}

.Home .Container .Description {
    min-height: 240px;
}

.Home .Container h2 {
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    line-height: 1;
    padding-left: 12px;
    color: #ec6c44;
}

.Home .Container span {
    display: block; 
    font-size: 21px;
    color: #ec6c44; 
    font-weight: 800;
    text-shadow: none;
    margin: 3px 0;
}


.Home .Container h1{    
    position: absolute;
    margin: 0; 
    color: white;
    top:50%;
    font-size: 2.6rem;
    right: 50%;
}

.Home .Container h3 {
    position: absolute;
    margin: 0; 
    color: white;
    font-size: 1.2rem;
    top: 68%;
    right: 50%;
}


.Home .code {
    width: 40%;
    max-width: 200px;
    position: absolute;
    height: 24%;
    top: 67%;
    right: 27%;
    filter: brightness(0) invert(1);
    /* float: left; */
    display: block;

}

@media only screen and (max-width: 600px){
    .Home .Container h1 {
        font-size: 2.2rem;
    }
    .Home .Container h3 { 
        top: 79%;
    }
    .Home .code {
        width: 40%;
        max-width: 200px;
        position: absolute;
        height: 24%;
        top: 67%;
        right: 50%;
        filter: brightness(0) invert(1);
        display: block;
    }

    .Home .engineer {
        width: 50%;
        max-width: 200px;
        position:absolute;
        top: 50%;
        height: 44%;
        right: 20%;
        filter: brightness(0) invert(1);
        display: block;
    }
}

.Home .engineer {
    width: 60%;
    max-width: 200px;
    position:absolute;
    top: 50%;
    height: 44%;
    right: 8%;
    filter: brightness(0) invert(1);
    display: block;

}

