
.Home {
    display: flex; 
    /* background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("https://img.wattpad.com/5ad380d0b99ebadd18b71ca24e60817add25fb68/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f4874646a79414f4b62694d6d36773d3d2d313031353837353231332e313635643531663164366662366130303831353736303937333037362e676966") no-repeat center/cover;  */
    background-color: #F1E4F1;
    min-height: 80vh;
    width: 100%;
    padding-left: 50px; 
    position: relative;
    text-align: left;
}


.Home .Container {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 0;
    vertical-align:0vw;
}

.Home .Container .Description {
    min-height: 240px;
}

.Home .Container h2 {
    font-size: 3rem;
    line-height: 1;
    text-shadow: 4px 4px 1px #FE4937; /*#ca40ba; */
    padding-left: 12px;
}

.Home .Container span {
    display: block; 
    font-size: 21px;
    color: #FE4937; 
    font-weight: 800;
    text-shadow: none;
    margin: 3px 0;
}


.Home .Container h1{    
    position: absolute;
    margin: 0; 
    color: white;
    top:50%;
    font-size: 2.6rem;
    right: 50%;
}

.Home .Container h3 {
    position: absolute;
    margin: 0; 
    color: white;
    font-size: 1.2rem;
    top: 68%;
    right: 50%;
}


.Home .code {
    width: 40%;
    max-width: 200px;
    position: absolute;
    height: 24%;
    top: 67%;
    right: 27%;
    filter: brightness(0) invert(1);
    /* float: left; */
    display: block;

}

@media only screen and (max-width: 600px){
    .Home .Container h1 {
        font-size: 2.2rem;
    }
    .Home .Container h3 { 
        top: 79%;
    }
    .Home .code {
        width: 40%;
        max-width: 200px;
        position: absolute;
        height: 24%;
        top: 67%;
        right: 50%;
        filter: brightness(0) invert(1);
        display: block;
    }

    .Home .engineer {
        width: 50%;
        max-width: 200px;
        position:absolute;
        top: 50%;
        height: 44%;
        right: 20%;
        filter: brightness(0) invert(1);
        display: block;
    }
}

.Home .engineer {
    width: 60%;
    max-width: 200px;
    position:absolute;
    top: 50%;
    height: 44%;
    right: 8%;
    filter: brightness(0) invert(1);
    display: block;

}

