@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.Home {
    display: flex; 
    background-color:#f4c4c4;
    min-height: 80vh;
    text-align: left;
    padding-left: 7%;
    position: relative;
}


.Home .Container {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 0;
    vertical-align:0vw;
}

.Home .Container .Description {
    min-height: 240px;
}

.Home .Container h2 {
    font-size: 5.8rem;
    font-family: 'Abril Fatface', cursive;
    line-height: 1;
    padding-left: 12px;
    color: #ec6c44;
    padding-bottom: 3.2%;
}

.Home .Container span {
    display: block; 
    font-size: 21px;
    color: #ec6c44; 
    font-weight: 800;
    text-shadow: none;
    margin: 3px 0;
}


.Home .Container h1{    
    position: absolute;
    margin: 0; 
    color: white;
    top:50%;
    font-size: 3.6rem;
    right: 50%;
}

.Home .Container h3 {
    position: absolute;
    margin: 0; 
    color: white;
    font-size: 2.8rem;
    top: 68%;
    right: 50%;
}


.Home .code {
    width: 40%;
    max-width: 200px;
    position: absolute;
    height: 24%;
    top: 67%;
    right: 27%;
    filter: brightness(0) invert(1);
    display: block;

}

@media only screen and (max-width: 600px){
    .Home .Container h1 {
        font-size: 3.7rem;
    }
    .Home .Container h3 { 
        top: 79%;
    }

}




#myBtn {
    position: fixed;
    bottom: 10%;
    right: 7%;
    z-index: 99;
    font-size: .9rem;
    border: none;
    outline: none;
    background-color: #ec6c44;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: .8;
    scroll-behavior:smooth;
  }
  
  #myBtn:hover {
    background-color: #74647c;
  }